<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @account.user %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @account.bank %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @account.account_type %>
</p>

<p>
  <strong>Number:</strong>
  <%= @account.number %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
